@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  margin: 40px; }

.container {
  display: flex; }
  .container .left {
    flex: 1; }
  .container .right {
    flex: 25; }
  .container .headLine {
    margin-top: 20px;
    margin-right: 10px; }

.headLine {
  height: 1px;
  background-color: #85b73c; }

.headContent {
  font-family: 'OpenSans',sans-serif;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #85b73c; }

.section1 h2 {
  font-family: "OpenSans",sans-serif;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #2c2f46; }

.section1 .wrapper0 {
  display: flex; }

.section1 .image1 {
  width: 220px;
  height: 220px;
  background-color: #5f5e5e;
  flex: 1;
  order: 2; }

.section1 .section1-Content {
  flex: 5.5;
  order: 1;
  font-family: 'OpenSans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #929292;
  margin-right: 40px; }

.section2 {
  margin-top: 44px; }
  .section2 h2 {
    font-family: "OpenSans",sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46; }
  .section2 .section2-Content {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #929292; }
  .section2 .section2-ul {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #666565;
    margin-top: 26px; }
  .section2 .wrapper3 {
    display: flex;
    justify-content: space-between; }
  .section2 .wrapper2 {
    margin: 20px; }
  .section2 .wrapper4 {
    display: flex; }
  .section2 .mainWrap1 {
    position: relative; }
  .section2 .mainWrap2 {
    text-align: center;
    display: flex;
    margin-right: 350px; }
  .section2 .third {
    margin: auto; }
  .section2 .fourth {
    margin: auto; }
  .section2 .addMargin {
    margin: 30px; }
  .section2 .circle {
    width: 42px;
    height: 42px;
    background: #0541e6;
    border-radius: 50%;
    text-align: center; }
  .section2 .smallHead {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #85878f; }
  .section2 .smallText {
    font-family: 'OpenSans',sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #85878f; }
  .section2 .message-icon {
    color: white;
    position: relative;
    top: 10%; }
  .section2 .basket-icon {
    color: white;
    position: relative;
    top: 20%; }
  .section2 .addWrap {
    width: 168px; }

.section3 {
  margin-top: 40px; }
  .section3 h2 {
    font-family: "OpenSans",sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46; }
  .section3 p {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #929292; }
  .section3 .wrapper5 {
    display: flex; }
    .section3 .wrapper5 div {
      margin: 20px; }

.section4 {
  margin-top: 40px; }
  .section4 h2 {
    font-family: "OpenSans",sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46; }
  .section4 .p1 {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #929292; }
  .section4 .p2 {
    font-family: 'OpenSans',sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #2682bd; }

.section4 table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed; }

.section4 table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em; }

.section4 table tr {
  border: 1px solid #ddd;
  padding: .35em; }

.section4 table th,
.section4 table td {
  padding: .625em;
  text-align: center;
  border: 1px solid #ddd; }

.section4 table th {
  padding: 16px 51px;
  opacity: 0.55;
  background-color: #f8f8f8;
  font-family: 'OpenSans',sans-serif;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.69;
  letter-spacing: normal;
  text-align: center;
  color: #2c2f46; }

.section4 table tbody {
  font-family: 'OpenSans',sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #85878f; }
  .section4 table tbody .first-row {
    padding: 16px 51px; }

.section5 {
  display: none; }

@media (max-width: 600px) {
  body {
    padding: 10px; }
  .left {
    flex: 1; }
  .right {
    flex: 7; }
  .headLine {
    margin-top: 10px;
    margin-right: 10px; }
  .headContent {
    font-size: 18px; }
  .section1 {
    margin-top: 40px; }
    .section1 .wrapper0 {
      display: unset !important; }
    .section1 .image1 {
      width: 320px;
      height: 320px;
      background-color: #5f5e5e;
      margin-top: 24px; }
    .section1 .section1-Content {
      margin-top: 24px; }
  .section2 {
    margin-top: 40px; }
    .section2 .section2-Content {
      margin-top: 24px; }
    .section2 .wrapper1-right {
      flex: 1; }
    .section2 .wrapper1-left {
      flex: 6;
      margin-left: 10px; }
    .section2 .circle {
      margin-top: 30px;
      margin: auto; }
    .section2 .smallHead {
      margin-bottom: 0px; }
    .section2 .wrapper2 {
      flex: 1;
      text-align: center;
      margin: unset !important; }
    .section2 .wrapper2-align {
      margin-top: 40px; }
    .section2 .wrapper3 {
      display: unset !important; }
    .section2 .mainWrap1 {
      flex: unset !important;
      position: unset !important;
      right: unset !important; }
    .section2 .mainWrap2 {
      flex: unset !important; }
    .section2 .third {
      flex: unset !important; }
    .section2 .fourth {
      flex: unset !important; }
  .section3 {
    margin-top: 40px; }
    .section3 .wrapper5 {
      display: unset !important; }
      .section3 .wrapper5 div {
        margin: unset !important; }
  .section4 table {
    display: none;
    border: 0; }
  .section4 table caption {
    font-size: 1.3em; }
  .section4 table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px; }
  .section4 table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em; }
  .section4 table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right; }
  .section4 table td::before {
    /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase; }
  .section4 table td:last-child {
    border-bottom: 0; }
  .section5 {
    display: unset !important; }
    .section5 table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      width: 100%;
      table-layout: fixed;
      margin-top: 10px;
      margin-bottom: 10px; }
    .section5 table caption {
      font-size: 1.5em;
      margin: .5em 0 .75em; }
    .section5 table tr {
      padding: .35em; }
    .section5 table th,
    .section5 table td {
      padding: .625em;
      text-align: center;
      border: 1px solid #ddd; }
    .section5 table th {
      padding: 16px 51px;
      opacity: 0.55;
      background-color: #f8f8f8;
      font-family: 'OpenSans',sans-serif;
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.69;
      letter-spacing: normal;
      text-align: center;
      color: #2c2f46; }
    .section5 table tbody {
      font-family: 'OpenSans',sans-serif;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.57;
      letter-spacing: normal;
      text-align: center;
      color: #85878f; }
      .section5 table tbody .first-row {
        padding: 16px 51px; } }
