@mixin headStyle() {
    font-family: "OpenSans",sans-serif;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2c2f46;
}
@mixin marginMixin {
    margin-top: 10px;
    margin-right: 10px;
}

@mixin mediumText {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: rgb(146, 146, 146);
}

@mixin smallHead {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #85878f;
}

@mixin smallText {
    font-family: 'OpenSans',sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    color: #85878f;
}

@mixin tableContentStyle {
    font-family: 'OpenSans',sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #85878f;
}