@import "fonts";
@import "mixins";
body{
    margin:40px;
}
//HEADER
.container{
    display: flex;
    .left{
        flex: 1;
    }
    .right{
        flex: 25;
    }
    .headLine{
        margin-top: 20px;
        margin-right: 10px;
    }
}

.headLine{
    height: 1px;
    background-color: #85b73c;
}
.headContent{
    font-family: 'OpenSans',sans-serif;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #85b73c;
}

//Section1

.section1{
    h2{
        @include headStyle();
    }

    .wrapper0{
        display: flex;
    }
    .image1{
        width: 220px;
        height: 220px;
        background-color: rgb(95, 94, 94);
        flex: 1;
        order: 2;
        
    }
    .section1-Content{
        flex: 5.5;
        order: 1;
        @include mediumText();
        margin-right: 40px;
    }
    
}
//section2
.section2{
    margin-top: 44px;
    h2{
        @include headStyle();
    }
    .section2-Content{
        @include mediumText();
    }
    .section2-ul{
        font-family: 'OpenSans',sans-serif;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: rgb(102, 101, 101);
        margin-top: 26px;
    }
    .wrapper3{
        display: flex;
       justify-content: space-between;
    }

    .wrapper2{
        margin: 20px;
    }
    .wrapper4{
            display: flex;
            
        }
    .mainWrap1{
        position: relative;
    }
    .mainWrap2{
        text-align: center;
        display: flex;
        margin-right: 350px;
    }
    .third{
        margin: auto;
    }
    .fourth{
        margin: auto;
    }
   .addMargin{
       margin: 30px;
   }

    .circle{
        width: 42px;
        height: 42px;
        background: rgb(5, 65, 230);
        border-radius: 50%;
        text-align: center;
    }
    .smallHead{
        @include smallHead();
    }
    .smallText{
        @include smallText();
    }
    .message-icon{
        color: white;
        position: relative;
        top: 10%;
    }
    .basket-icon{
        color: white;
        position: relative;
        top: 20%;
    }

    .addWrap{
        width: 168px;
    }
   
   
    
}
 //section3
.section3{
    margin-top: 40px;
    h2{
        @include headStyle();
    }
    p{
        @include mediumText();
    }
    .wrapper5{
        display: flex;
        div{
            margin: 20px;
        }
    }
}

//section4
.section4{
    margin-top: 40px;
    h2{
        @include headStyle();
    }
    .p1{
        @include mediumText();
    }
    .p2{
        font-family: 'OpenSans',sans-serif;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.29;
        letter-spacing: normal;
        color: #2682bd;
    }
}

//table
.section4{
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;
      }
      
      table caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
      }
      
      table tr {
        
        border: 1px solid #ddd;
        padding: .35em;
       
      }
      
      table th,
      table td {
        padding: .625em;
        text-align: center;
        border: 1px solid #ddd;
      }
      
      table th {
          padding: 16px 51px;
        opacity: 0.55;
        background-color: #f8f8f8;
        font-family: 'OpenSans',sans-serif;
        font-size: 13px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.69;
        letter-spacing: normal;
        text-align: center;
        color: #2c2f46;
      }
      table tbody{
       @include tableContentStyle();
       .first-row{
         padding: 16px 51px;
       }
      }
}

.section5{
    display: none;
  }

@media (max-width: 600px) {
    body{
        padding: 10px;
    }
    .left{
        flex: 1;
    }
    .right{
        flex: 7;
    }
    .headLine{
       @include marginMixin();
    }
    .headContent{
        font-size: 18px;
    }
    .section1{
        margin-top: 40px;
        .wrapper0{
            display:unset !important; 
        }
        .image1{
            width: 320px;
            height: 320px;
            background-color: rgb(95, 94, 94);
            margin-top: 24px;
        }
        .section1-Content{
           
            margin-top: 24px;
        }
    }
    .section2{
        margin-top: 40px;
        .section2-Content{
            margin-top: 24px;
        }
        
        .wrapper1-right{
            flex: 1;
        }
        .wrapper1-left{
            flex: 6;
            margin-left: 10px;
        }
        .circle{
            margin-top: 30px;
            margin: auto;
        }
        .smallHead{
            margin-bottom: 0px;
        }
        
        .wrapper2{
            flex: 1;
            text-align: center;
            margin: unset !important;
        }
        .wrapper2-align{
            margin-top: 40px;
        }
        .wrapper3{
            display: unset !important;
        }
        .mainWrap1{
            flex: unset !important;
            position: unset !important;
            right: unset !important;
        }
        .mainWrap2{
            flex: unset !important;
            
        }

        .third{
            flex: unset !important;
        }
        .fourth{
            flex: unset !important;
        }
        
        
    }
    .section3{
        margin-top: 40px;
        .wrapper5{
            display: unset !important;
            div{
                margin: unset !important;
            }
        }
    }
    //table
    .section4 {
        table {
            display: none;
            border: 0;
          }
        
          table caption {
            font-size: 1.3em;
          }
          
          table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
          }
          
          table tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
          }
          
          table td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
          }
          
          table td::before {
            /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
          }
          
          table td:last-child {
            border-bottom: 0;
          }
        
    }

    .section5{
        display: unset !important;
        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
            margin-top: 10px;
            margin-bottom: 10px;
          }
          
          table caption {
            font-size: 1.5em;
            margin: .5em 0 .75em;
          }
          
          table tr {
            padding: .35em;
           
          }
          
          table th,
          table td {
            padding: .625em;
            text-align: center;
            border: 1px solid #ddd;
          }
          
          table th {
            padding: 16px 51px;
            opacity: 0.55;
            background-color: #f8f8f8;
            font-family: 'OpenSans',sans-serif;
            font-size: 13px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.69;
            letter-spacing: normal;
            text-align: center;
            color: #2c2f46;
          }
          table tbody{
           @include tableContentStyle();
           .first-row{
             padding: 16px 51px;
           }
        }
    }
    
}